@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .header {
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
.page .header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.page .header .row .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  margin-left: 35px;
}
.page .header .row .header__container * {
  padding: 0px 35px;
}
@media (max-width: 650px) {
  .page .header .row .header__container {
    margin-left: 0px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page .header .row .header__container * {
    padding: 0px;
  }
}
.page .header .row .header__container button {
  background: none;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
@media (max-width: 600px) {
  .page .header .row .header__container button {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .page .header .row .header__container button {
    font-size: 11px;
  }
}
@media (max-width: 400px) {
  .page .header .row .header__container button {
    font-size: 10px;
  }
}
.page .main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  left: 0px;
  top: 0px;
}
.page .main-screen .main-screen__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}

.sub-header {
  width: 100%;
  height: 470px;
  background-color: #f7f7f7;
  text-align: center;
  padding: 120px 0px;
}
.sub-header .sub-header__container {
  max-width: 1200px;
  margin: 0px auto;
}
.sub-header .sub-header__container .sub-header__title {
  margin-top: 35px;
  margin-top: 35px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.sub-header .sub-header__container .sub-header__text {
  margin-top: 20px;
  padding: 0px 10px;
  text-align: center;
}
.sub-header .sub-header__container .sub-header__text p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}