@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  max-width: 1600px;
  margin: 0px auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  min-width: 100%;
  background: url("../img/white_bicycle_handlebar_img.png") top no-repeat;
  background-size: cover;
  min-height: 350px;
  max-height: 800px;
  padding-top: 10px;
}
@media (min-width: 300px) {
  .header img {
    height: 40px;
  }
  .header button {
    font-size: 9px;
  }
}
@media (min-width: 400px) {
  .header img {
    height: 45px;
  }
  .header button {
    font-size: 9px;
  }
}
@media (min-width: 500px) {
  .header img {
    height: 50px;
  }
  .header button {
    font-size: 11px;
  }
}
@media (min-width: 600px) {
  .header img {
    height: 65px;
  }
  .header button {
    font-size: 12px;
  }
}
@media (min-width: 700px) {
  .header {
    padding-top: 15px;
  }
  .header img {
    height: 75px;
  }
  .header button {
    font-size: 13px;
  }
}
.header .container {
  max-width: 600px;
}
.header .nav {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .nav img {
  min-height: 100%;
}
.header .nav button {
  background: none;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}